<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://s2-g1.glbimg.com/Rz3mTXJ1RyKxdcp5yRnpxoJY5Ag=/0x0:2000x1333/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/T/i/SpKwaaRDu5ZVrRwsCXdA/fundo-de-notas-de-dolares-1-.jpg"
      cardTitle="Dólar recua e fecha no menor nível do mês, com maior apetite por risco no exterior; Ibovespa sobe"
      cardDescription="A moeda norte-americana registrou um recuo de 1,02%, cotada a R$ 5,0367. Já o principal índice acionário da B3 fechou em alta de 0,67%, aos 116.534 pontos."
    >
    </app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card
      cardTitle="Netanyahu e secretário dos EUA são levados a bunker por risco de ataque

        "
      photoCover="https://s2-g1.glbimg.com/WfyGdrqOTVhvGY7P86pVEKptv8E=/0x360:8640x5220/1080x608/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/B/J/yLvgTBR6KT1HtrDl0f7Q/2023-10-16t181450z-1-lynxmpej9f0u4-rtroptp-4-israel-palestinos-bunker-blinken-netanyahu.jpg"
    ></app-small-card>
    <app-small-card
      cardTitle="
        Brasileiro que mora em Tel Aviv é convocado por exército de Israel"
      photoCover="https://s2-g1.glbimg.com/PDJgv6odr_kVsTSWhQshSuYh2AM=/0x278:768x710/1080x608/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/Y/A/W2tCWxRGWwDFZHvHuzqA/whatsapp-image-2023-10-16-at-11.38.11-1-.jpeg"
    ></app-small-card>
    <app-small-card
      cardTitle="'Marvel's Spider-Man 2' é ainda melhor que o 1º game; g1 jogou"
      photoCover="https://s2-g1.glbimg.com/4uPmTQLetuFnGGTg-xpoaOaeQmg=/513x0:3596x1736/540x304/smart/filters:max_age(3600)/https://i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2023/B/7/m7z12wT0qxzORQVQqA0w/spider-man-2-1.jpg"
    ></app-small-card>
  </div>
</div>
