<<<<<<< HEAD
.container__menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.container__menu-bar ul {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
=======
.container__menu-bar ul {
    display: flex;
    flex-direction: row;
>>>>>>> 039cfe6e82e0f7f33a60c416d7c7a45d23eeedf9
}

.container__menu-bar ul li {
    margin-right: 20px;
    list-style: none;
<<<<<<< HEAD
}

.container__menu-bar input {
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  width: 300px;
  padding: 5px;
}
=======
}
>>>>>>> 039cfe6e82e0f7f33a60c416d7c7a45d23eeedf9
